<div class="container">
  <!-- Creating Reactive Form Group -->
  <!--  <app-form1></app-form1>-->

  <!--Added Validator in Created Reactive Form Group -->
  <!--  <app-form-validator></app-form-validator>-->

  <!--Added Nested Form Group inside another Form Group -->
  <!--  <app-form-group></app-form-group>-->

  <!--  Added Custom Validator-->
  <!--  <app-form-custom-validator></app-form-custom-validator>-->

  <!--  Added Custom Validator with Error Codes-->
  <app-form-custom-validator-errorcodes></app-form-custom-validator-errorcodes>
</div>
